[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
# Default to using old password format for compatibility with mysql 3.x
# clients (those using the mysqlclient10 compatibility package).
old_passwords=1

max_connections = 500
default-character-set = utf8
<% if server_type == 'master' -%>
# master setting
log-bin = mysql-bin
binlog-do-db = <%= binlog_do_db %>
<% end -%>
log_slow_queries = /var/lib/mysql/mysqld-slow.log
long-query-time = 1
log-long-format
server-id = <%= ipaddress[/\d+$/] %>

<% if server_type == 'slave' -%>
# slave setting
relay_log = mysqld-relay-bin
read_only

<% if domain == 'example.com' -%>
innodb_buffer_pool_size = 2GB
innodb_additional_mem_pool_size = 20MB
innodb_log_buffer_size = 16MB
innodb_log_file_size = 128MB
sort_buffer_size = 2MB
read_rnd_buffer_size = 1MB
join_buffer_size = 256KB
read_buffer_size = 1MB
key_buffer_size = 256MB
<% end -%>

<% end -%>


[mysql.server]
user=mysql
basedir=/var/lib

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
