virtual_server_group HTTP_SAMPLE {
  #127.0.0.1 80
}

virtual_server group HTTP_SAMPLE {
  delay_loop 3
  lvs_sched wlc
  lvs_method DR
  protocol TCP
  virtualhost status.example.com
  sorry_server 192.168.0.1 80

  real_server 127.0.0.1 80 {
    weight 1
    inhibit_on_failure
    HTTP_GET {
      url {
        path /
        status_code 200
      }
      connect_port 80
      connect_timeout 3
    }
  }
}

