#
# MySQL 5.1 configuration
#

[mysqld]
# basic settings
datadir = /var/lib/mysql
socket = /var/lib/mysql/mysql.sock
pid-file = /var/run/mysql/mysql.pid
default-storage-engine = innodb

log-error = /var/log/mysql.log

<% if mysql_slowlog != "" -%>
# slow log
slow_query_log = 1
slow_query_log_file = <%= mysql_slowlog %>
long_query_time = 1
<% end -%>

# charset
character-set-server = utf8
collation-server = utf8_general_ci

# server-id
server-id = <%= ipaddress[/\d+\.\d+\.\d+$/].gsub(/\./, '') %>

<% if mysql_bin_log == true -%>
# binary log
log-bin = binlog/mysql-bin
log-bin-index = binlog/mysql-bin.index
expire-logs-days = <%= mysql_expire_logs_days %>
<% mysql_binlog_do_db.each do |binlog_do_db| -%>
binlog-do-db = <%= binlog_do_db %>
<% end -%>
binlog-ignore-db = mysql
max_binlog_size = 512M
sync_binlog = 1
<% end -%>

# relay log
relay-log = relay-bin
relay-log-index = relay-index
relay-log-info-file = relay-bin.info

<% if mysql_log_slave_updates == true -%>
log-slave-updates
<% end -%>

<% if mysql_slave == true -%>
# slave
read_only
<% end -%>

# common parameters
key_buffer_size = 1M
join_buffer_size = 256K
max_allowed_packet = 32M
max_connections = <%= mysql_max_connections %>
max_connect_errors = 100
max_heap_table_size = 64M
myisam_sort_buffer_size = 1M
query_cache_type = 2
read_buffer_size = 1M
read_rnd_buffer_size = 1M
skip-name-resolve
sort_buffer_size = 4M
table_open_cache = <%= mysql_table_cache %>
table_definition_cache = 64
thread_cache_size = <%= mysql_thread_cache %>
tmp_table_size = 64M
wait_timeout = <%= mysql_wait_timeout %>

# InnoDB plugin
ignore_builtin_innodb
plugin-load = innodb=ha_innodb_plugin.so;innodb_trx=ha_innodb_plugin.so;innodb_locks=ha_innodb_plugin.so;innodb_lock_waits=ha_innodb_plugin.so;innodb_cmp=ha_innodb_plugin.so;innodb_cmp_reset=ha_innodb_plugin.so;innodb_cmpmem=ha_innodb_plugin.so;innodb_cmpmem_reset=ha_innodb_plugin.so

# InnoDB parameter
innodb_additional_mem_pool_size = 20M
innodb_autoextend_increment = 64
innodb_buffer_pool_size = <%= innodb_buffer_pool_size %>
innodb_concurrency_tickets = 500
innodb_data_file_path = ibdata1:100G:autoextend:max:<%= innodb_data_file_path_max %>
innodb_data_home_dir = ibdata
<% unless innodb_file_format.empty? -%>
innodb_file_format = Barracuda
<% end -%>
innodb_file_io_threads = 4
innodb_file_per_table
innodb_flush_log_at_trx_commit = <%= innodb_flush_log_at_trx_commit %>
innodb_flush_method = O_DIRECT
innodb_log_buffer_size = 16M
innodb_log_file_size = <%= innodb_log_file_size %>
innodb_log_files_in_group = 4
innodb_log_group_home_dir = iblog
innodb_lock_wait_timeout = 120
innodb_max_dirty_pages_pct = 90
innodb_thread_concurrency = <%= innodb_thread_concurrency %>
<% if mysql_slave == false -%>
innodb_support_xa = 1
<% end -%>

<% if mysql_additional_parameter != "" -%>
<%= mysql_additional_parameter %>
<% end -%>


[client]
default-character = utf8


[mysql]
prompt="\u@\h[\d]> "
show-warnings
no-auto-rehash
default-character = utf8
<% if mysql_slave == false -%>
safe-updates
<% end -%>

[mysqldump]
default-character = utf8
flush-logs
hex-blob
master-data = 2
opt
single-transaction

