###############################################################################
# CONTACTS.CFG - CONTACT/CONTACTGROUP DEFINITIONS
#
# NOTES: This config file provides you with some example contact and contact
#        group definitions that you can reference in host and service
#        definitions.
#
#        You don't need to keep these definitions in a separate file from your
#        other object definitions.  This has been done just to make things
#        easier to understand.
#
###############################################################################



###############################################################################
###############################################################################
#
# CONTACTS
#
###############################################################################
###############################################################################

define contact{
       contact_name                     crit
       use                              generic-contact
       alias                            crit contact
       email                            <%= nagios_contact_crit_email %>
       service_notification_commands    crit-service-by-email
       host_notification_commands       crit-host-by-email
       }

define contact{
       contact_name                     warn
       use                              generic-contact
       alias                            warn contact
       email                            <%= nagios_contact_warn_email %>
       service_notification_commands    warn-service-by-email
       host_notification_commands       warn-host-by-email
       }


###############################################################################
###############################################################################
#
# CONTACT GROUPS
#
###############################################################################
###############################################################################

# We only have one contact in this simple configuration file, so there is
# no need to create more than one contact group.

define contactgroup{
       contactgroup_name  admins
       alias              Nagios Administrators
       members            warn
       }

define contactgroup{
       contactgroup_name  crit
       alias              Nagios Administrators
       members            crit
       }

define contactgroup{
       contactgroup_name  warn 
       alias              Nagios Administrators
       members            warn
       }
